body{
  background-color: rgb(121, 116, 116);
}
.words {
    display: flex;
    justify-content: center;
}

textarea {
  width: 80%;
  resize: none;
  border: 100px;
  color: #000;
}

.count {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
